# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs and build artifacts
logs/
dist/
build/
out/

# Environment-specific files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Application specific files
public/uploads/

# Miscellaneous
*.log
*.swp
*.swo

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup files
*~
*.bak
